html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  color: #20252a;
  text-align: center;
}
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(204, 204, 204);
}