.busqueda {
    height: 100%;
    background-image: url('../assets/fondoHome.jpg');
    background-size: cover;
    background-position: center;
    color: #20252a;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.header {
    width: 90%;
    height: 6.2rem;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #20252a;
    border-radius: 1rem;
    box-shadow: 0 20px 50px #20252a;
}
.header > div {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.logo {
    width: 70px;
    height: 60px;
}
.titulo {
    width: 150px;
    height: 70px;
}
.busqueda > header > div > p {
    margin: 0 1rem;
    font-size: 1.3rem;
    font-weight: 400;
}
.header > div > button {
    width: 10rem;
    height: 2.5rem;
    background-color: #39b3d6;
    color: #ffffff;
    margin: 0 1rem 0 0;
    text-align: center;
    font-size: 1.2rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0 0.3rem 0.5rem #b7b7b7;
    cursor: pointer;
}
.header > div > button:hover {
    background-color: #313364;
    transition: all 0.3s ease;
}
.main {
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.main > h1 {
    font-size: 2.5rem;
    margin: 3rem 0 2rem;
    text-shadow: 0 0.3rem 0.5rem #20252a;
}
.main > p {
    font-size: 1.5rem;
    margin: 0 0 2rem 0;
    text-shadow: 0 0.3rem 0.5rem #20252a;
}
.opciones {
    width: 80%;
    margin: 1rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #3ba3cc;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 3rem #20252a;
}
.opciones > div {
    margin: 0.5rem;
}
.opciones > div > input, .opciones > div > select {
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0 0.5rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.1s ease;
    outline: none;
}
.opciones > div > input:hover, .opciones > div > select:hover {
    outline: 0.2rem solid #303367
}
.main > button {
    width: 12rem;
    height: 3rem;
    margin: 6rem 0 2.4rem 0;
    font-size: 1.5rem;
    background-color: #319fcb;
    color: #ffffff;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 10px 40px #20252a;
    cursor: pointer;
}
.main > button:hover {
    background-color: #303367;
    color: #ffffff;
    transition: all 0.3s ease;
}
.busqueda > footer {
    width: 100%;
    height: 7rem;
    padding: 0.5rem 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer > img {
    width: 70px;
    height: 90px;
    margin: 0 3rem;
}
.footer > .redes {
    width: 30rem;
    display: flex;
    justify-content: space-between;
}
.redes > div > button {
    margin: 0 0.5rem;
}
.facebook, .instagram, .twitter, .linkedin {
    width: 3rem;
    height: 3rem;
    background-image: url('../assets/facebook.png');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
}
.instagram {
    background-image: url('../assets/instagram.jpeg');
}
.twitter {
    background-image: url('../assets/twitter.png');
}
.linkedin {
    background-image: url('../assets/linkedin.png');
}
.reclamos {
    width: 18rem;
    margin: 2rem;
}
.reclamos {
    display: flex;
    align-items: center;
}
.reclamos > button {
    width: 7rem;
    height: 3rem;
    background-color: transparent;
    background-image: url('../assets/libroReclamaciones.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
}
.reclamos > a {
    text-decoration: none;
    color: #20252a;
    text-align: center;
}