.login {
    height: 100vh;
    background-image: url('../assets/fondoLogin.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login > button {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 10rem;
    height: 2.5rem;
    background-color: #319fcb;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    border-radius: 10px 30px 10px 30px;
    box-shadow: 0 0 1rem #000000;
    transition: 0.4s ease;
    cursor: pointer;
}
.login > button:hover {
    background-color: #ffffff;
    color: #20252a;
    border-radius: 50px;
}
.login > div {
    width: 35rem;
    height: 22rem;
}
.login > div > p {
    margin: 1rem 7rem 0 0;
    text-align: start;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 1rem #000000;
}
.login > form {
    width: 30rem;
    height: 28rem;
    padding: 2rem;
    background-color: #ffffff;
    border-top: 1rem solid #319fcb;
    border-radius: 1rem;
    box-shadow: 0 0 9rem #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login > form > h1 {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
}
.login > form > div {
    text-align: start;
}
.login > form > div > input {
    width: 20rem;
    height: 2rem;
    margin: 1rem 0;
    font-size: 1.3rem;
    padding: 0 1rem;
    border: none;
    border: 0.2rem solid #319fcb;
    border-radius: 0.5rem;
    transition: 0.4s ease;
    outline: none;
}
.login > form > div > input:hover {
    border-color: #313364;
}
.login > form > button {
    width: 22rem;
    height: 3rem;
    margin: 1rem;
    background-color: #319fcb;
    font-size: 1.3rem;
    color: #ffffff;
    border: none;
    border-radius: 0.7rem;
    transition: 0.4s ease;
    cursor: pointer;
}
.login > form > button:hover {
    background-color: #313364;
    color: #ffffff;
    border-radius: 50px;
}
.registrate {
    display: flex;
    margin: 2rem;
    font-size: 1.2rem;
}
.registrate > p {
    margin: 0;
}
.registrate > a {
    margin: 0 0.5rem;
    color: #319fcb;
    font-weight: bold;
}